    /* start varible */
    :root {
        --main-color: #10cab7;
        --media-h1: 70px;
    }
    /* end varible */

    /* start glubal rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Work Sans', sans-serif;
    text-transform: capitalize;
}
    /* end glubal rules */
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
 /* start header  */

header {
    padding: 20px;
}
header .container{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
header .container .img-logo {
    width: 50px;
    height: 50px;
    background-color: white;
    padding: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 5px solid var(--main-color);
    position: relative;
}
header .container .img-logo:before {
    content: '';
    width: 10px;
    height: inherit;
    background-color: black;
    position: absolute;
    top: -6px;
    left: -21px;
}
header .container .links .icon{
    background-color: #000;
    width: 20px;
    height: 4px;
    position: relative;
}
header .container  .icon:before {
    content: '';
    background-color: #000;
    width: 10px;
    height: 4px;
    position: absolute;
    right: 0;
    top: 8px;
}
header .container  .icon:after {
    content: '';
    background-color: #000;
    width: 20px;
    height: 4px;
    position: absolute;
    left: 0;
    top: 16px;
}
header .container .links ul li {
    width: 170px;
    height: 50px;
    list-style-type: none;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px black;
    padding: 0;
    margin: 0;
}
header .container .links ul {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50px;
    right: 50px;
    display: none;
}
header .container .links:hover ul {
    display: block;
    z-index: 1;
}
 /* end header  */

 /* start landing  */
.landing {
    background-image: url("../image/harm.jpg");
    background-size: cover;
    height:  calc(100vh - 90px);
    position: relative;
}
.intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
    width: 300px;
}
.intro-text  h1{
    margin: 0;
    font-weight: bold;
    font-size: 49px;
    color: var(--main-color);
}
 /* end landing  */

 /* start Features  */
.Features {
    padding-top: 50px;
    padding-bottom: 50px;
}
.Features .container {
    text-align: center;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px , 1fr)) ;
}
.Features .container .feat  i {
    color: var(--main-color);
    font-size: 50px;
}
 /* end Features  */

 /* start services */
 .services .container  {
    padding-top: 50px;
    padding-bottom: 50px;
 }
 .services .container .srv {
    text-align: center;
 }
 .services .container .srv h1{
    /* font-weight: 800; */
    font-size: 85px;
    margin: 0;
    letter-spacing: -4;
    color: #f2f2f2;
 }
 @media (max-width: 767px) {
    .services .container .srv h1 {
        font-size: var(--media-h1);
        margin-left: -10px;
    }
 } 
 .services .container .srv p{
    font-size: 10px;
    margin: -30px 0 0;
 }
 .services .container .services-content {
    display: grid;
    gap: 60px;
    grid-template-columns: repeat(auto-fill, minmax(250px , 1fr)) ;
    margin-top: 100px;
}
.col .srv-1 ,.col .srv-2 {
    display: flex;
} 
@media (max-width: 767px) {
    .services-content .col {
        flex-direction: column;
    }
    .services-content .col .srv-1,
    .services-content .col .srv-2 {
        flex-direction: column;
        text-align: center;
    }
    .services-content .col .srv-2  i {
        margin-bottom: 5px;
    }
}
 .col .text {
     margin-left: 5px;
     margin-bottom: 10px;
     position: relative;
 }
 .services-content .col-3 {
    position: relative;
    width: 190px;
}
 .col-3:after {
    content: "";
    position: absolute;
    width: 80px;
    height: calc(100% + 80px);
    right: -40px;
    top: -40px;
    background-color: #2c4854;
    z-index: -1
}
 .col-3 .img {
     width: 190px;
}
 .services-content .col .text h3 {
     margin: 0;
 }
 @media (max-width: 1199) {
    .img-none {
        display: none;
     }
 } 
 .services .container .services-content .col i {
     color: var(--main-color);
     margin-bottom: 20px;
 }
 /* end services */

 /* start portfolio */
 .portfolio {
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #ddd;
 }
 .portfolio .container .portfolio-content {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px , 1fr)) ;
    margin-top: 100px;
    justify-items: center;
}
.portfolio .container .col {
  max-width: 75%;
  background-color: white;
}
.portfolio .container .srv  h1{
    text-align: center;
    font-size: 100px;
    margin: 0;
    letter-spacing: -4;
    color: #f2f2f2;
}
@media (max-width: 767px) {
    .portfolio .container .srv  h1 {
        font-size: var(--media-h1);
        margin-left: -10px;
    }
 } 
.portfolio .container .srv p{
    font-size: 10px;
    margin: -30px 0 0;
}
.portfolio .container .portfolio-content .col .info {
    padding: 10px;
}
.portfolio .container .portfolio-content .col .card img {
    max-width: 100%;
}
.portfolio .container .srv {
    text-align: center;
}

button[ type="submit"] {
    margin: 20px;
    text-align: center;

}

 /* end portfolio */

 /* start about */

.about  {
    margin-top: 100px;
    margin-bottom: 100px;
}
.about .container .srv  .text-head {
    text-align: center;
}
.about .container .srv h1 {
    font-size: 100px;
    margin: 0;
    letter-spacing: -4;
    color: #f2f2f2;
}
@media (max-width: 767px) {
    .about .container .srv h1 {
        font-size: var(--media-h1);
        margin-left: -10px;
    }
 } 
.about .container .srv p {
    font-size: 10px;
    margin: -30px 0 0;
}
.about .container .srv .about-content {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width: 993px) {
    .about .container .srv .about-content {
        flex-direction: column;
        text-align: center;
    }
}
.about .container .srv .about-content .col img {
    width: 250px;
    height: 375px;
}
@media (max-width: 993px) {
    .about .container .srv .about-content .col .image {
        margin: 5px auto 50px;
    }
}
.about .container .srv .about-content .col .image {
    position: relative;
    width: 250px;
    height: 375px;
}
.about .container .srv .about-content .col .image:before {
    content: '';
    position: absolute;
    width: 80px;
    height: calc(100% + 80px);
    background-color: #f2f2f2;
    top: -40px;
    left: -50px;
    z-index: -1;
}
.about .container .srv .about-content .col .image:after {
    content: '';
    width: 100px;
    height: 270px;
    background-color: transparent;
    position: absolute;
    top: -40px;
    right: -154px;
    border-bottom: 80px solid var(--main-color);
    border-left: 80px solid var(--main-color);
    z-index: -1;
}
@media (max-width: 767px) {
    .about .container .srv .about-content .col .image:after {
        border-bottom: none;
        height: calc(100% + 80px);
        width: 80px;
        right: -120px;
    }
}
.about .container .srv .about-content .col:last-of-type {
    flex-basis: calc(100% - 500px);
    line-height: 1.8;
}

.about .container .srv .about-content .col .p-1 {
    font-weight: bold;
    color: #000;
    line-height: 2;
    margin-bottom: 50px;
}
.about .container .srv .about-content .col hr {
    width: 50%;
    border-color: var(--main-color);
    display: inline-block;
}
.about .container .srv .about-content .col .p-2 {
    color: #777;
    line-height: 1.6;
}
 /* end about */
 
 /* start contact */
 .contact  {
    margin-top: 100px;
    background-color: #ddd;
}
.contact .container .srv  .text-head {
    text-align: center;
}
.contact .container .srv h1 {
    font-size: 100px;
    margin: 0;
    letter-spacing: -4;
    color: #f2f2f2;
}
@media (max-width: 767px) {
    .contact .container .srv h1 {
        font-size: var(--media-h1);
        margin-left: -10px;
    }
 }
.contact .container .srv p {
    font-size: 10px;
    margin: -30px 0 0;
}
.contact .container .srv .text-email {
    display: block;
    margin-top: 50px;
}
.contact .container .srv .text-email p {
    color: #2c4854;
    font-weight: 800;
    font-size: 40px;
}
.contact .container .srv .text-email a {
    color: var(--main-color);
    text-decoration: none;
    font-size: 26px;
    font-weight: bold;
}
@media (max-width: 767px) {
    .contact .container .srv .text-email p{
        font-size: 30px;
    }
    .contact .container .srv .text-email a{
        display: flex;
        justify-content: center;
        font-size: 20px;
    }
}
.social {
    display: flex;
    align-items: flex-end;
    margin: 12px 5px 0px;
    padding: 5px;
}
.social i {
    margin-left: 10px;
    color: #2c4854;
}
 /* end contact */
 /* start footer */
 footer {
     background-color: #2c4854;
     text-align: center;
     font-size: 10px;
     color: white;
     height: 32px;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 footer span {
     color: var(--main-color);
 }
 /* end footer */